.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

.button-wrapper, .content-wrapper{
  display: flex;
}

.one{
  flex: 1;
}

.hide{
  transform: scale(0);
}

.show{
  transition: linear 200ms;
  transform: scale(1);
}