.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.button-wrapper, .content-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.one{
  flex: 1 0 30%;
}

.hide{
  transform: scale(0);
}

.show{
  transition: linear 200ms;
  transform: scale(1);
}
.active{
  background-color: blue;
}

.dark{
  background-color: #ccc;
  width: 100%;
}

@media screen and (min-width:768px){
  .wrapper{
    max-width: 700px;
  }

  .one{
    width: 20%;
  }
}